<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.QRGenerator.Mapper.QRGeneratorMapper">
	<select id="selectStudentName"
			resultType="String">
		SELECT 
			name name
		FROM 
			student
	</select>
	<select id="selectStudentInfoByName"
			parameterType="String"
			resultType="com.gd.QRGenerator.Vo.Student">
		SELECT
			id id,
			name name,
			gender gender,
			github_address gitHubAddress
		FROM
			student
		<where>
			AND name = #{studentName}
		</where>
	</select>
</mapper>